<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'catalogue.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
      </div>
      <div id="subheader">
        <div class="cart">
          {% with total_items=cart|length %}
            {% if total_items > 0 %}
              Your cart:
              <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
              </a>
            {% else %}
              Your cart is empty.
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    
</body>
</html>